body {
  background-color: #1e1f1e;
  height: 100%;
  width: 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  color : red;
  opacity: 50%;
  font-family: 'Anton', sans-serif;
  padding-bottom: 2.5rem; 
 }

a, a:visited {
  text-decoration: none;
  color : red;
}

h1 {
  height: 25%;
  width: 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  font-size: 2rem;
}

footer {
  height: 25%;
  width: 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: 'center';
  font-size:1.5rem;
  position: absolute;
  bottom: 0;
  height: 2.5rem;  
}
